.flashcard {
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transform-origin: 50%;
}

.flashcard.turn {
  transform: rotateY(-180deg);
}

.front,
.back {
  backface-visibility: hidden;
}

.back {
  transform: rotateY(-180deg);
}
